In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = "https://webpages.charlotte.edu/mscipion/"
r = requests.get(url)
print(r)

<Response [200]>

In [13]:
soup = BeautifulSoup(r.text, "lxml")

In [15]:
table = soup.find("table")
#print(table)

In [16]:
headers = table.find_all("th")
print(headers)

[<th>Student</th>, <th>Favourite Computer Language</th>, <th>Years of Experience</th>]

In [17]:
titles = []

for i in headers:
    title = i.text
    titles.append(title)
    
print(titles)

['Student', 'Favourite Computer Language', 'Years of Experience']

In [18]:
df= pd.DataFrame(columns=titles)
print(df)

Empty DataFrame
Columns: [Student, Favourite Computer Language, Years of Experience]
Index: []

In [20]:
rows = table.find_all("tr")
#print(rows)

In [23]:
#for i in rows[1:]:
    #print(i)

In [25]:
#for i in rows[1:]:
    #data = table.find_all("td")
    #print(data)

In [26]:
for i in rows[1:]:
    data = table.find_all("td")
    #print(data)
    row = [tr.text for tr in data]
    print(row)

['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']
['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']
['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']
['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']
['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']
['Fred', 'Kotlin', '4', 'Paula', 'Python', '2', 'Ernst', 'Java', '7', 'Isabel', 'C++', '3', 'Tony', 'Pearl', '7', 'Maria', 'Cobol', '15']

In [29]:
for i in rows[1:]:
    data = i.find_all("td")
    row = [tr.text for tr in data]
    l =len(df)
    df.loc[l]= row

df

   Student Favourite Computer Language Years of Experience
0     Fred                      Kotlin                   4
1    Paula                      Python                   2
2    Ernst                        Java                   7
3   Isabel                         C++                   3
4     Tony                       Pearl                   7
5    Maria                       Cobol                  15
6     Fred                      Kotlin                   4
7    Paula                      Python                   2
8    Ernst                        Java                   7
9   Isabel                         C++                   3
10    Tony                       Pearl                   7
11   Maria                       Cobol                  15
12    Fred                      Kotlin                   4
13   Paula                      Python                   2
14   Ernst                        Java                   7
15  Isabel                         C++                   3
16    Tony                       Pearl                   7
17   Maria                       Cobol                  15